# CAP my_proj
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
db/src
db/undeploy.json
app/db/src
app/db/undeploy.json
app/db/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# html5Deployer
html5Deployer/resources
html5Deployer/package-lock.json

# IDEs
# .vscode
# .idea

# I have added
*.env
